<!DOCTYPE html>
<html lang="<%= lang %>" dir="<%= lang_dir %>">
<head>
  <meta charset="utf-8">
  <title><%= gettext('Loading') %></title>
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--[if lt IE 9]>
    <%- cachify_js('/js/lib/html5shim.min.js') %>
  <![endif]-->

  <%- cachify_css('/css/style.min.css') %>
</head>
<body class="auth">
    <header id="header">
       <h1><a class="home" target="_blank" href="/">Mozilla Persona Home</a></h1>
    </header>

  <div id="content" class="group">
     <section id="error">
        <div class="table">
            <div class="vertical">
                <div class="contents">
                  <p class="progress b"><%= gettext('Loading') %> <span></span></p>
                  <img src="/i/progress.gif" width="128" height="15" alt="Loading" />
                </div>
            </div>
        </div>
      </section>
  </div>
<% if ('development' === dev_mode) { %>
  <%- partial('debug_authentication_api') -%>
<% } else { %>
<script type="text/javascript" src="<%= browserid_server %>/authentication_api.js"></script>
<% } %>
<script type="text/javascript">
localStorage.height = window.outerHeight || document.documentElement.offsetHeight;
localStorage.width = window.outerWidth || document.documentElement.offsetWidth;

navigator.id.beginAuthentication(function(email) {
  if (email) {
    window.location.pathname = '/proxy/' + encodeURIComponent(email);
    var parts = email.split('@');
    if (parts.length > 1) {
      var spans = document.getElementsByTagName('span');
      if (spans.length > 0)
        spans[0].appendChild(document.createTextNode(parts[1]));
    }
  } else {
    window.location.pathname = '/error';
  }
});
</script>
</body>
</html>
