<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= gettext('Loading') %></title>
  <!--[if lt IE 9]>
    <%- cachify_js('/js/lib/html5shim.min.js') %>
  <![endif]-->

  <%- cachify_css('/css/style.min.css') %>

  <!--[if lt IE 9]>
    <%- cachify_css('/css/ie8.min.css') %>
  <![endif]-->
</head>
<body class="auth">
    <header id="header">
       <h1><a class="home" target="_blank" href="/">Mozilla Persona Home</a></h1>
    </header>

  <div id="content" class="group">
      <section id="error">
        <div class="table">
            <div class="vertical">
                <div class="contents">
                  <p class="progress b"><%= gettext('Loading') %> <span></span></p>
                  <img src="/i/progress.gif" width="128" height="15" alt="Loading" />
                </div>
            </div>
        </div>
  </div>
<script type="text/javascript" src="<%= browserid_server %>/authentication_api.js"></script>
<script type="text/javascript">
navigator.id.beginAuthentication(function(email) {
  if (email) {
    window.location.pathname = '/proxy/' + encodeURIComponent(email);
    var parts = email.split('@');
    if (parts.length > 1) {
      var spans = document.getElementsByTagName('span');
      if (spans.length > 0)
        spans[0].appendChild(document.createTextNode(parts[1]));
    }
  } else {
    window.location.pathname = '/error';
  }
});
</script>
</body>
</html>
