<!DOCTYPE html>
<html lang="<%= lang %>" dir="<%= lang_dir %>">
  <head>
    <meta charset="utf-8">
    <title><%= gettext("System Error, please try again later") %></title>
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!--[if lt IE 9]>
    <%- cachify_js('/js/lib/html5shim.min.js') %>
  <![endif]-->

  <%- cachify_css('/css/style.min.css') %>
  </head>

  <body class="error">
    <header id="header">
       <h1><a class="home" target="_blank" href="/">Mozilla Persona Home</a></h1>
    </header>

    <div id="content" class="group">
      <section id="error">
        <div class="table">
            <div class="vertical">
                <div class="contents">

                    <% if (claimed) { %><h2><%= format(gettext("Sorry, we are unable to log you in as %s"), [claimed]) %></h2><% } %>
                    <p><%= gettext("Something went wrong, please try again later") %></p>
                    <button><%= gettext("Try Again") %></button>

                </div><!-- :contents -->
            </div>
        </div>
      </section>
    </div>
    <% if ('development' === dev_mode) { %>
      <%- partial('debug_authentication_api') -%>
    <% } else { %>
      <script src="<%= browserid_server %>/authentication_api.js"></script>
    <% } %>    
    <%- cachify_js('/js/lib/jquery.min.js') %>
    <%- cachify_js('/js/error.min.js') %>
  </body>
</html>
