<!DOCTYPE html>
<html lang="<%= lang %>" dir="<%= lang_dir %>">
  <head>
    <meta charset="utf-8">
    <title><%= gettext("Systems Error, please try again later") %></title>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>
  <body>
    <div id="content">
    <h2><%= gettext("Systems Error, please try again later") %></h2>
    <p><%= format(gettext("Sorry, we are unable to log you in as %s"), [claimed]) %></p>
    <button><%= gettext("Try Again") %></button>
    </div>
<script src="<%= browserid_server %>/authentication_api.js"></script>
<script src="/js/lib/jquery.min.js"></script>
<script>
// From mozilla/browserid resources/static/pages/page_helpers.js
window.resizeTo(700, 375);
$('button').click(function () {
  //navigator.id.beginAuthentication(function(email, cert_duration) {
    navigator.id.raiseAuthenticationFailure('user is not authenticated as target user');
  //});
});
</script>
  </body>
</html>
