<!DOCTYPE html>
<html lang="<%= lang %>" dir="<%= lang_dir %>">
  <head>
    <meta charset="utf-8">
    <title><%= gettext("Authentication Error") %></title>
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!--[if lt IE 9]>
        <%- cachify_js('/js/lib/html5shim.min.js') %>
  <![endif]-->

  <%- cachify_css('/css/style.min.css') %>
  </head>

  <body class="error">
    <header id="header">
       <h1><a class="home" target="_blank" href="/">Mozilla Persona Home</a></h1>
    </header>

    <div id="content" class="group">
      <section id="error">
        <div class="table">
            <div class="vertical">
                <div id="auth_error" class="contents">

                    <h2><%= gettext("Authentication Error") %></h2>
                    <p><%= format(gettext("Sorry, it looks like you were trying to log in as %(claimed)s, but you're actually logged into %(provider)s as %(other)s."),
                             { claimed: claimed, provider: provider, other: mismatched }) %></p>
                    <button class="continue"><%= gettext("Continue") %></button>
                    <input type="hidden" name="csrf_token" value="<%= csrf_token %>" />
                    <button class="cancel"><%= gettext("Use a different email") %></button>

                </div><!-- :contents -->
                <div id="link_accounts_prompt" class="contents" style="display: none;">
                  <h2><%= gettext("Confirm your email address") %></h2>
                  <p><%= format(gettext("Check your email at %(email)s."),
                           { email: mismatched }) %></p>
                  <p><%= format(gettext("Click the link in the confirmation email. This will connect %(email1)s to %(email2)s, fixing the problem on this browser."),
                           { email1: claimed, email2: mismatched }) %></p>
                  <button class="close">Close</button>
                </div>
            </div>
        </div>
      </section>
    </div>
    <% if ('development' === dev_mode) { %>
      <%- partial('debug_authentication_api') -%>
    <% } else { %>
      <script src="<%= browserid_server %>/authentication_api.js"></script>
    <% } %>
    <%- cachify_js('/js/lib/jquery.min.js') %>
    <%- cachify_js('/js/error.min.js') %>
  </body>
</html>
